
#content
{
    float: left;
    /*width: 60%;*/
    background-color: #CCF;
}
#sidebar
{
    float: right;
    width: 40%;
    background-color: #FFA;
}
#cleared
{
    clear: both;
}
.style1
{
    width: 50%;
}

.style2
{
    width: 164px;
}
.style3
{
    width: 1240px;
}

.style6
{
    width: 17%;
    height: 22px;
}
.style4
{
    width: 40px;
}
.errmsg
{
    color: red;
}
label
{
    color: black;
}
.style8
{
    width: 60%;
}

.btnSave
{
    border: 2px solid #a1a1a1;
    padding: 7px 10px;    
    width: 76px;
}

.Audit
{
    font-size: 13px;
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    background-color: #66d9ff;
}

.col1
{
    float: left;
    width: 35%;
}
.col2
{
    float: none;
    width: 30%;
    display: inline-block;
}
.col3
{
    float: right;
    width: 35%;
}

